body {
  margin: 0;
  background-color:grey;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 35px 18px;
  text-decoration: none;
  align-items:center
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: green;
  color: white;
}

.topnav-right {
  float: right;
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-weight:bold;
  font-size:24px;
}

.firsttitle {
  position: absolute;
  bottom: 50px;
  left: 45px;
}

.secondtitle {
  position:absolute;
  bottom 100px;
  left:100px;

